<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.RuleGroupDao">
    <resultMap id="RuleGroup" type="com.server.model.RuleGroup">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="groupCode" property="groupCode" jdbcType="VARCHAR"/>
        <result column="create_time" property="create_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="RuleGroup_Column_List">
        id,groupCode,groupName,description,create_time
    </sql>

    <insert id="saveRuleGroup" flushCache="true" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO ruleGroup(groupCode,groupName,description,create_time)
        VALUES (
        #{groupCode},
        #{groupName},
        #{description},
        #{create_time}
        )
    </insert>

    <select id="findRuleGroupByParameter" parameterType="com.server.model.RuleGroup" resultMap="RuleGroup" flushCache="true">
        SELECT
        <include refid="RuleGroup_Column_List"/>
        FROM ruleGroup
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="groupCode!=null">
            and groupCode =#{groupCode}
        </if>
    </select>

    <select id="findRuleGroupByParameterWithPage" parameterType="map" resultMap="RuleGroup" flushCache="true">
        SELECT
        <include refid="RuleGroup_Column_List"/>
        FROM ruleGroup
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="groupCode!=null">
            and groupCode =#{groupCode}
        </if>
        <if test="pageNum!=null">
            limit #{pageNum},#{size}
        </if>
    </select>

    <delete id="deleteRuleGroupByParameter" parameterType="com.server.model.RuleGroup">
        DELETE FROM
        ruleGroup
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="groupCode!=null">
            and groupCode =#{groupCode}
        </if>
    </delete>

    <update id="updateRuleGroupByParameter" parameterType="com.server.model.RuleGroup">
        UPDATE
        ruleGroup
        SET
        groupCode = #{groupCode},
        groupName = #{groupName},
        description = #{description}
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="groupCode!=null">
            and groupCode =#{groupCode}
        </if>
    </update>

</mapper>