<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.server.dao.RuleGroupDao">
    <resultMap id="RuleGroup" type="com.server.model.RuleGroup">
        <id column="id" property="id" jdbcType="BIGINT"/>
        <result column="rule_id" property="rule_id" jdbcType="BIGINT"/>
        <result column="groupCode" property="groupCode" jdbcType="VARCHAR"/>
        <result column="orderNo" property="orderNo" jdbcType="TINYINT"/>
        <result column="create_time" property="create_time" jdbcType="DATE"/>
    </resultMap>

    <sql id="RuleGroup_Column_List">
        id, rule_id,groupCode,orderNo,create_time
    </sql>

    <insert id="saveRuleGroup" flushCache="true">
        INSERT INTO ruleGroup(rule_id,groupCode,orderNo,create_time)
        VALUES (
        #{rule_id},
        #{groupCode},
        #{orderNo},
        #{create_time}
        )
    </insert>

    <select id="findRuleGroupByParameter" parameterType="com.server.model.RuleGroup" resultMap="RuleGroup" flushCache="true">
        SELECT
        <include refid="RuleGroup_Column_List"/>
        FROM ruleGroup
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="rule_id!=null">
            and rule_id =#{rule_id}
        </if>
        <if test="groupCode!=null">
            and groupCode =#{groupCode}
        </if>
    </select>

    <select id="findRuleGroupByParameterWithPage" parameterType="map" resultMap="RuleGroup" flushCache="true">
        SELECT
        <include refid="RuleGroup_Column_List"/>
        FROM ruleGroup
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="rule_id!=null">
            and rule_id =#{rule_id}
        </if>
        <if test="groupCode!=null">
            and groupCode =#{groupCode}
        </if>
        <if test="pageNum!=null">
            limit #{pageNum},#{size}
        </if>
    </select>

    <delete id="deleteRuleGroupByParameter" parameterType="com.server.model.RuleGroup">
        DELETE FROM
        ruleGroup
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="rule_id!=null">
            and rule_id =#{rule_id}
        </if>
    </delete>

    <update id="updateRuleGroupByParameter" parameterType="com.server.model.RuleGroup">
        UPDATE
        ruleGroup
        SET
        groupCode = #{groupCode},
        orderNo = #{orderNo}
        WHERE
        1=1
        <if test="id!=null">
            and id =#{id}
        </if>
        <if test="rule_id!=null">
            and rule_id =#{rule_id}
        </if>
    </update>

</mapper>